RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.hidraport.com.br$ [NC]
RewriteRule ^(.*)$ http://hidraport.com.br/$1 [R=301,L]

RewriteEngine On
RewriteRule ^produtos/mangueiras_espiraladas_42 /produtos/mangueiras-espiraladas [R=301,L]

RewriteEngine On
RewriteRule ^produtos/abracadeiras_43 /produtos/abracadeiras [R=301,L]

RewriteEngine On
RewriteRule ^produtos/adesivos_colas_e_silicones_44 /produtos/adesivos-colas-e-silicones [R=301,L]

RewriteEngine On
RewriteRule ^produtos/conexoes_45 /produtos/conexoes [R=301,L]

RewriteEngine On
RewriteRule ^produtos/engates_rapidos_46 /produtos/engates-rapidos [R=301,L]

RewriteEngine On
RewriteRule ^produtos/equipamentos_de_seguranca_47 /produtos/equipamentos-de-seguranca [R=301,L]

RewriteEngine On
RewriteRule ^produtos/lubrificacao_48 /produtos/lubrificacao [R=301,L]

RewriteEngine On
RewriteRule ^produtos/mangueiras_industriais_50 /produtos/mangueiras-industriais [R=301,L]

RewriteEngine On
RewriteRule ^produtos/borrachas_cordas_e_correias_51 /produtos/borrachas-cordas-e-correias [R=301,L]

RewriteEngine On
RewriteRule ^produtos/pasta_e_gel_desengraxante_52 /produtos/pasta-e-gel-desengraxante [R=301,L]

RewriteEngine On
RewriteRule ^produtos/tubos_53 /produtos/tubos [R=301,L]

RewriteEngine On
RewriteRule ^produtos/valvulas_54 /produtos/valvulas [R=301,L]

RewriteEngine On
RewriteRule ^produtos/mangueiras_hidraulicas_55 /produtos/mangueiras-hidraulicas [R=301,L]

RewriteEngine On
RewriteRule ^produtos/jardim_63 /produtos/jardim [R=301,L]

RewriteEngine On
RewriteRule ^produtos/combustivel_64 /produtos/combustivel [R=301,L]

RewriteEngine On
RewriteRule ^produtos/ferramenta_tramontina_65 /produtos/ferramentas-tramontina [R=301,L]

RewriteEngine On
RewriteRule ^produtos/ferramentas_tramontina_66 /produtos/ferramentas-tramontina [R=301,L]