---
layout: default
features:
  - title: Mangueiras Hidráulicas
    link: /produtos/mangueiras-hidraulicas/
  - title: EPIs
    link: /produtos/equipamentos-de-seguranca/
  - title: Engates para refinaria
    link: /produtos/engates-rapidos/engates-rapidos-de-alavanca/
  - title: Óleos
    link: /produtos/lubrificacao/oleos/
---

<section class="section-hero" data-grid="center">
  <div class="wrapper large" data-grid="center">
    <div data-cell="1of2">
      <img src="{{ site.baseurl }}/img/Hidra-Port-logo.png" alt="Hidra-Port - loja de fábrica">
    </div>
    <div data-cell="1of2">
      <p class="hero-tagline">Agilidade e pronta entrega de mangueiras e conexões.</p>
      <p><a href="{{ site.baseurl }}/empresa/" data-btn>Saiba mais...</a> <a href="/produtos/" data-btn="azul">Explore os produtos</a></p>
    </div>
  </div>
</section>

<section class="page-content section-features">
  <div data-grid="justify" data-cell="stretch" class="wrapper large">
    {% for produto in page.features %}
      <div data-grid="column justify" class="card">
          <div data-grid="center" class="feature-fig">
            {% assign src = produto.link | prepend: "/destaques" %}
            {% include img_from_url.html 
              src = src
              alt = produto.title
              width = 200
              format = 'jpg'
            %}
          </div>
          <h6 data-cell="shrink" class="features-title"><a href="{{ site.baseurl }}{{ produto.link }}">{{ produto.title }}</a></h6>
        </div>
    {% endfor %}
  </div>
  <div data-grid="end" class="wrapper large">
    <p data-cell="shrink"><a href="/produtos/">Conheça todos os produtos »</a></p>
  </div>
</section>

<section class="page-content section-aplicacoes">
  <header class="wrapper">
    <h2>Aplicações</h2>
  </header>
  <div class="wrapper slideshow">
    {% for app in site.aplicacoes %}
    <div class="wrapper slide{% if forloop.first == 'true' %} current{% endif %}" data-grid="center">
      <div data-grid="spacing">
        <div class="slide-figure" data-cell="1of3" data-grid="center">
          <div data-cell="shrink">
            {% include img_from_url.html
              src = app.url
              alt = app.title
              format = "jpg"
            %}
          </div>
        </div>
        <div data-cell="2of3">
          <h3 class="slide-title">{{ app.title }}</h3>
          <p class="slide-excerpt">{{ app.content | strip_html | strip_newlines | truncatewords: 26 }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="wrapper slideshow-footer" data-grid="end">
    <p data-cell="shrink"><a href="/aplicacoes">Saiba mais sobre as aplicações dos nossos produtos »</a></p>
  </div>
</section>

<section class="page-content section-local">
  <div class="wrapper">
    <h2>Localização</h2>
    {% include mapa.html %}
  </div>
</section>

<div class="page-content">{% include fornecedores-logos.html %}</div>
