---
layout: default
---

<section class="section-hero" data-grid="center">
  <div class="wrapper large" data-grid="center">
    <div data-cell="1of2">
      <img src="{{ site.baseurl }}/img/Hidra-Port-logo.png" alt="Logo Hidra-Port">
    </div>
    <div data-cell="1of2">
      {% for page in site.pages %}
        {% if page.permalink == "/empresa/" %}
          <h1>{{ page.title }}</h1>
          <p>{{ page.excerpt }}</p>
          <p><a href="{{ site.baseurl }}{{ page.url }}" data-btn>Saiba mais...</a> <a href="/produtos/" data-btn="azul">Explore os produtos</a></p>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

{% include fornecedores-logos.html %}

<section class="page-content section">

  <div class="wrapper">

    <h3>Para fazer:</h3>

    <ul>
      <li>Aplicações</li>
      <li>Produtos</li>
      <li>Localização</li>
      <li>Orçamento</li>
    </ul>

  </div>

</section>
