---
layout: default
features:
- url: "/produtos/borrachas-cordas-e-correias/correias/"
- url: "/produtos/ferramentas-tramontina/"
- url: "/produtos/lubrificacao/oleos/"
- url: "/produtos/equipamentos-de-seguranca/"
---

<section class="section-hero">
  <div class="wrapper large" data-grid="center justify spacing">
    <div
      class="hero-logo"
      data-cell="shrink stretch fill"
      data-grid="column center"
    >
      <img
        src="{{ site.baseurl }}/img/hidra-port-logo.png"
        alt="Logo Hidra-port"
        data-cell="shrink"
      >
      <p
        class="hero-logo-caption"
        data-cell="shrink"
      >
        Mangueiras e conexões hidráulicas
      </p>
    </div>

    <div class="hero-content" data-cell="1of2 fill">
      <p class="hero-tagline">
        <span>Agilidade e pronta entrega de mangueiras e conexões para
          <span class="hero-tags">
            {% for app in site.aplicacoes %}
              <strong class="hero-tag">{{ app.title }}</strong>
            {% endfor %}
          </span>
        </span>
      </p>
      <p class="hero-cta">
        <a
          href="{{ site.baseurl }}/produtos/"
          data-btn=""
        >
          Explore os produtos
        </a>
        <a
          href="{{ site.baseurl }}/download/catalogo-hidraport-2019.pdf"
          data-btn="azul"
          target="_blank"
        >
          Baixe o nosso catálogo
        </a>
      </p>
    </div>
  </div>
</section>

<script>
  (function() {
    var tags = Array.prototype.slice
      .call(document.querySelectorAll('.hero-tag'));
    var index = 0;
    setInterval(function () {
      tags.forEach(function (t, i) {
        i === index
          ? t.classList.add('on')
          : t.classList.remove('on')
      });
      (index++ < tags.length -1) || (index = 0);
    }, 1500);
  })();
</script>

<section class="section-features">
  <div class="wrapper large">
    <div data-grid="around center small-spacing">
      {% for feat in page.features %}
        {% assign feat_page = site.categorias | where: 'url', feat.url | first %}
        {% if feat_page == null %}
          {% assign feat_page = site.produtos | where: 'url', feat.url | first %}
        {% endif %}
        <div data-cell="1of4 fill" class="feature-item">
          <div
            class="feature-pic"
            style="background-image: url('{{ site.baseurl }}{{ feat_page.image }}')"
          >
          </div>
          <a
            class="feature-link"
            href="{{ site.baseurl }}{{ feat_page.url }}"
          >
            <span class="feature-label">{{ feat_page.title }}</span>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="page-content section-search">
  <header class="wrapper large">
    <h2>Encontre um produto</h2>
  </header>
  <div class="wrapper large">
    {% include search-form.html %}
  </div>
  <div class="wrapper large lista-categorias" data-grid="spacing cols-4">
    {% for categoria in site.categorias %}
      <article class="lista-categorias-item">
        <a href="{{ site.baseurl }}{{ categoria.url }}">{{ categoria.title }}</a>
      </article>
    {% endfor %}
  </div>
  <div class="wrapper large" data-grid="end">
    <p data-cell="shrink">
      <a href="{{ site.baseurl }}/produtos/" data-btn="laranja">Veja todos os produtos</a>
    </p>
  </div>
</section>

<div class="page-content">{% include fornecedores-logos.html %}</div>

<section class="section-local">
  {% include mapa.html %}
</section>
