---
title: Orçamento enviado com sucesso!
layout: page
sitemap: false
excerpt: Recebemos seu pedido. Aguarde nossa resposta. Obrigado.
ga_code: |
  <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 999281238;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "s-TRCNrdnAMQ1qS_3AM";
    var google_conversion_value = 1.00;
    var google_conversion_currency = "BRL";
    var google_remarketing_only = false;
    /* ]]> */
  </script> <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"> </script> <noscript>
    <div style="display:inline;">
      <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/999281238/?value=1.00&amp;currency_code=BRL&amp;label=s-TRCNrdnAMQ1qS_3AM&amp;guid=ON&amp;script=0"/>
    </div>
  </noscript>
---

<p>Recebemos o seu pedido e responderemos o mais breve possível. Obrigado.</p>

<p>Deseja solicitar outro orçamento? <a href="/produtos/">Volte para os produtos</a>.</p>

<p>Ou entre em contato:</p>

{% assign zap = site.whatsapp %}
<p>
  <a href="https://wa.me/{{ zap.number }}" target="_blank" onclick="ga('send', 'event', 'Contato', 'Após orçamento enviado', '{{ zap.label }}');">
    {{ zap.label }}
  </a>
</p>

<ul>
  {% for tel in site.telefones %}
    <li>
      {% if tel.number %}
        <a href="tel:{{ tel.number }}"  onclick="ga('send', 'event', 'Contato', 'Após orçamento enviado', '{{ tel.label }}');">
      {% endif %}
        {{ tel.label }}
      {% if tel.number %}
        </a>
      {% endif %}
    </li>
  {% endfor %}
</ul>