<div class="section-orcamento" data-modal id="orcamento">
  <div class="wrapper">
    <h2>Orçamento</h2>
    <form action="">
      <div data-grid="spacing">
        <div data-cell="1of2">
          <label for="nome">Nome</label><input type="text" name="nome" required placeholder="Digite seu nome completo">
        </div>
        <div data-cell="1of2">
          <label for="empresa">Empresa</label><input type="text" name="empresa" required placeholder="Nome da sua empresa">
        </div>
      </div>
      <div data-grid="spacing">
        <div data-cell="1of2">
          <label for="email">E-mail</label><input type="email" name="email" required placeholder="email@dominio.com">
        </div>
        <div data-cell="1of2">
          <label for="tel">Telefone</label><input type="tel" name="tel" required placeholder="(99) 0000-0000">
        </div>
      </div>
      <div class="form-list"></div>
      <p><label for="msg">Detalhes</label><textarea name="msg" cols="30" rows="6" placeholder="Informe detalhes do orçamento"></textarea></p>
      <p class="honeypot"><label for="honey">Se estiver vendo isto, deixe este campo em branco</label><input type="text" name="honey"></p>
      <p data-grid="row nowrap spacing justify"><a href="#X" data-cell="shrink">CONTINUAR NAVEGANDO</a><button data-cell="shrink">Enviar</button></p>
    </form>
  </div>
</div>

<footer class="site-footer">

  <div class="wrapper large">

    <div data-grid="spacing">
      <div data-cell="1of2">
        <h2 class="footer-heading">{{ site.title }}</h2>
        <ul class="seamless">
          <li>{{ site.data.contato.endereco }}</li>
          <li>
            {% for tel in site.data.contato.telefones %}
              {% if tel.number %}<a href="tel:{{ tel.number }}">{% endif %}
                <span data-block="inline">{{ tel.label }}</span>
              {% if tel.number %}</a>{% endif %}
              {% if forloop.last == false %} / {% endif %}
            {% endfor %}
          </li>
          <li data-grid="spacing">
            <a data-cell="shrink" href="mailto:{{ site.data.contato.email }}">{{ site.data.contato.email }}</a>
            <a data-cell="shrink" href="#orcamento">Solicite um orçamento</a>
          </li>
        </ul>
      </div>
      <div data-cell="1of2" data-grid="spacing">
        <div data-cell="3of4">
          <p>{{ site.description }}</p>
        </div>
        <div data-cell="1of4" data-grid="column justify">
          <ul class="seamless">
            <li><a href="{{ site.baseurl }}/">Início</a></li>
            {% for my_page in site.pages %}
              {% if my_page.menu-title %}
                <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.menu-title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

  </div>

</footer>
