<footer class="site-footer">

  <div class="wrapper large">

    <div data-grid="end spacing">
      <div data-cell="1of2">
        <h2 class="footer-heading">{{ site.title }}</h2>
        <ul class="seamless">
          <li>{{ site.endereco }}</li>
          <li>Tel.: 
            {% for tel in site.telefones %}
              {% if tel.number %}
                <a href="tel:{{ tel.number }}" class="footer-tel" onclick="ga('send', 'event', 'Contato', 'Telefone no rodapé', '{{ tel.label }}');">
                {{ tel.label }}
                </a>
              {% else %}
                <span class="footer-tel">{{ tel.label }}</span>
              {% endif %}
              {% if forloop.last == false %} / {% endif %}
            {% endfor %}
          </li>
          <li data-grid="center start wrap spacing">
            <a data-cell="shrink" href="mailto:{{ site.email }}" onclick="ga('send', 'event', 'Contato', 'Clique no e-mail', 'Rodapé');">{{ site.email }}</a>
            <a data-cell="shrink" href="#orcamento" data-btn="laranja" onclick="ga('send', 'event', 'Contato', 'Abrir formulário', 'Rodapé');">Solicite um orçamento</a>
          </li>
        </ul>
      </div>
      <div data-cell="shrink fill" data-grid="row nowrap spacing">
        <div data-cell="3of4">
          <img src="{{ site.baseurl }}/img/hidraport-12-anos.png" width="200" alt="Hidra-Port 10 anos!">
        </div>
        <div data-cell="1of4" data-grid="column justify">
          <ul class="seamless">
            <li><a href="{{ site.baseurl }}/">Início</a></li>

            {% assign pages = site.pages | sort: 'position' %}
            {% for my_page in pages %}
              {% if my_page.menu-title %}
                <li>
                  <a
                    href="{{ my_page.url | prepend: site.baseurl }}"
                  >{{ my_page.menu-title }}</a>
                </li>
              {% endif %}
            {% endfor %}

            <li>
              <a
                href="{{ site.baseurl }}/aplicacoes/"
                class="{%
                  if crumbs[1] == 'aplicacoes'
                %}selected{%
                  endif
                %}"
              >Aplicações</a>
            </li>
            <li>
              <a
                href="{{ site.baseurl }}/produtos/"
                class="{%
                  if crumbs[1] == 'produtos' or crumbs[1] == 'categorias'
                %}selected{%
                  endif
                %}"
              >Produtos</a>
            </li>

            <li>
              <a data-cell="shrink" href="{{ site.facebook }}" target="_blank" onclick="ga('send', 'event', 'Navegação', 'Facebook', 'Rodapé');">Facebook</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</footer>
