
<div class="wrapper large" data-grid="row wrap around">
  <p data-cell="shrink"><img src="{{ site.baseurl }}/img/fornecedores/tubodin.png" alt="tubodin"></p>
  <p data-cell="shrink"><img src="{{ site.baseurl }}/img/fornecedores/lubefer.png" alt="lubefer"></p>
  <p data-cell="shrink"><img src="{{ site.baseurl }}/img/fornecedores/balflex.png" alt="balflex"></p>
  <p data-cell="shrink"><img src="{{ site.baseurl }}/img/fornecedores/lucheti.png" alt="lucheti"></p>
  <p data-cell="shrink"><img src="{{ site.baseurl }}/img/fornecedores/tramontina.png" alt="tramontina"></p>
</div>
