<nav class="lista-categorias" data-cell="1of4">

  {% include search-form.html size = 'small' ref = 'Menu lateral' %}

	<header><h4>Categorias</h4></header>

  {% for categoria in site.categorias %}

    {% capture class_attr %}
      {% if page.url == categoria.url %}
        class="selected"
      {% elsif page.categoria == categoria.title %}
        class="selected"
      {% endif %}
    {% endcapture %}

    {% assign class_attr = class_attr | strip %}

    <article class="lista-categorias-item">
      <a
        href="{{ site.baseurl }}{{ categoria.url }}"
        {{ class_attr }}
      >
        {{ categoria.title }}
      </a>
    </article>

  {% endfor %}

  <p>
    <a
      href="{{ site.baseurl }}/download/catalogo-hidraport-2019.pdf"
      data-btn="laranja"
      target="_blank"
    >
      Catálogo de produtos
    </a>
  </p>

  <p>
    <a
      href="{{ site.baseurl }}/download/hidraport-manual-tecnico-terminais-hidraulicos.pdf"
      data-btn="laranja"
      target="_blank"
    >
      Manual técnico de terminais
    </a>
  </p>

</nav>