$header-height: 46px

.site-header
    position: fixed
    top: 0
    z-index: 99999
    width: 100%
    height: $header-height
    background-color: $background-color
    box-shadow: 0 0 5px rgba(black, .3)

    &-contact
        margin-right: $spacing-unit / 2
        +media-query($on-laptop)
            margin-right: $spacing-unit

    + *
        margin-top: $header-height

.site-title
    display: inline-block
    padding: 3px 0
    margin-right: $spacing-unit / 2

.page-link
    padding: $spacing-unit / 4
    font:
        weight: 400
        size: 12px
    text-transform: uppercase
    line-height: $base-line-height
    letter-spacing: 1px
    color: $brand-color-dark
    &:hover, &:focus
        text-decoration: none
        color: $brand-color

$menu-icon-size: 30px

.site-nav
    line-height: $header-height
    position: relative

    .menu-icon
        display: none
        line-height: 0
        padding-bottom: 5px

        > svg
            width: $menu-icon-size - 6
            height: $menu-icon-size
            color: inherit

            path
                fill: currentcolor

    +media-query($on-laptop)

        position: absolute
        top: 8px
        right: $spacing-unit / 2
        text-align: right

        .menu-icon
            display: block

        .trigger
            display: none
            position: absolute
            right: -$spacing-unit / 4
            overflow: hidden
            padding: $spacing-unit / 4
            background-color: $background-color
            box-shadow: -26px -14px 10px -28px rgba(black, .3), -26px 30px 10px -28px rgba(black, .3), 26px -14px 10px -28px rgba(black, .3), 26px 30px 10px -28px rgba(black, .3)

            .page-link
                display: block
                animation: come-in 1.5s ease-in-out forwards
                padding: $spacing-unit / 2

                &:active
                    background-color: $grey-color-light

                @for $i from 1 through 9
                    &:nth-of-type(#{$i})
                        animation-duration: .15s * $i

        &:hover
            .trigger
                display: block

@keyframes come-in
    0%
        opacity: 0
        -webkit-transform: translate(100%)
        transform: translate(100%)
    100%
        opacity: 1
        -webkit-transform: translate(0)
        transform: translate(0)

.site-contact
    position: fixed
    bottom: 0
    left: $spacing-unit / 2
    right: $spacing-unit / 2

    .icon-whatsapp
        margin-bottom: $spacing-unit / 4

    .btn-chat
        margin-bottom: 0
        padding-top: $spacing-unit / 4
        padding-bottom: $spacing-unit / 4
        border-radius: 10px 10px 0 0

.site-footer
    font-size: $small-font-size
    background-color: $grey-color-dark
    color: $grey-color
    padding: $spacing-unit 0

.footer-heading
    font-size: 20px
    margin-bottom: $spacing-unit / 2
    
.footer-tel
    display: inline-block
    white-space: nowrap

.page-content
    padding-top: $spacing-unit
    padding-bottom: $spacing-unit

.post-meta
    font-size: $small-font-size
    color: $grey-color

.post-header
    margin-bottom: $spacing-unit

.post-title
    letter-spacing: -1px
    line-height: 1

    +media-query($on-laptop)
        font-size: 36px

.post-content
    margin-bottom: $spacing-unit

    >
        h1, h2, h3, h4, h5, h6, p, blockquote, pre
            @extend .wrapper
        ul
            @extend .wrapper
            +media-greater($on-laptop)
                padding-left: $spacing-unit * 1.5

.card
    padding: $spacing-unit / 4
    margin-bottom: $spacing-unit / 4
    background-color: #fff
    border-radius: 4px
    box-shadow: 0 2px 6px 0 rgba(black, .2)
    .card-pic
        width: 100%
        margin-bottom: $spacing-unit / 4
        background-color: #fff
        img
            display: block
            margin: auto

.lista-categorias
    .lista-categorias-item
        a
            display: block
            padding: $spacing-unit / 4
            border-top: 1px solid $grey-color-light
            color: $azul-2
            &:hover, &:focus, &.selected
                background-color: $grey-color-light
                text-decoration: none
            &.selected
                background-color: $azul-1
                color: #fff
