$header-height: 46px

.site-header
    position: fixed
    top: 0
    z-index: 99999
    width: 100%
    height: $header-height
    background-color: $background-color
    box-shadow: 0 0 5px rgba(black, .3)

    &-contact
        margin: 0 $spacing-unit / 2

    + *
        margin-top: $header-height

.site-title
    display: inline-block
    padding: 3px 0

.page-link
    padding: $spacing-unit / 4 $spacing-unit / 2
    font:
        weight: 400
        size: 12px
    text-transform: uppercase
    line-height: $base-line-height
    letter-spacing: 1px
    color: $brand-color-dark
    &:hover, &:focus
        text-decoration: none
        color: $brand-color

$menu-icon-size: 30px

.site-nav
    line-height: $header-height
    height: $menu-icon-size
    text-align: right
    position: relative

    .menu-icon
        display: block
        line-height: 0
        padding-bottom: 5px
        +media-greater($on-palm)
            padding-left: $spacing-unit

        > svg
            width: $menu-icon-size - 6
            height: $menu-icon-size
            color: inherit

            path
                fill: currentcolor

    .trigger
        display: none
        position: absolute
        right: -$spacing-unit / 4
        overflow: hidden
        padding: $spacing-unit / 4
        background-color: $background-color
        box-shadow: -26px -14px 10px -28px rgba(black, .3), -26px 30px 10px -28px rgba(black, .3), 26px -14px 10px -28px rgba(black, .3), 26px 30px 10px -28px rgba(black, .3)

        .page-link
            display: block
            animation: come-in 1.5s ease-in-out forwards

            &:active
                background-color: $grey-color-light

            @for $i from 1 through 9
                &:nth-of-type(#{$i})
                    animation-duration: .15s * $i

    &:hover
        .trigger
            display: block

@keyframes come-in
    0%
        opacity: 0
        transform: translate(100%)
    100%
        opacity: 1
        transform: translate(0)

.site-footer
    font-size: $small-font-size
    background-color: $grey-color-dark
    color: $grey-color
    padding: $spacing-unit 0

.footer-heading
    font-size: 20px
    margin-bottom: $spacing-unit / 2
    
.footer-tel
    display: inline-block
    white-space: nowrap

.page-content
    padding-top: $spacing-unit
    padding-bottom: $spacing-unit

.post-meta
    font-size: $small-font-size
    color: $grey-color

.post-header
    margin-bottom: $spacing-unit

.post-title
    letter-spacing: -1px
    line-height: 1

    +media-query($on-laptop)
        font-size: 36px

.post-content
    margin-bottom: $spacing-unit

    >
        h1, h2, h3, h4, h5, h6, p, blockquote, pre
            @extend .wrapper
        ul
            @extend .wrapper
            +media-greater($on-laptop)
                padding-left: $spacing-unit * 1.5

.card
    padding: $spacing-unit / 4
    margin-bottom: $spacing-unit / 4
    background-color: #fff
    border-radius: 4px
    box-shadow: 0 2px 6px 0 rgba(black, .2)
    .card-pic
        width: 100%
        margin-bottom: $spacing-unit / 4
        background-color: #fff
        img
            display: block
            margin: auto

.lista-categorias
    .lista-categorias-item
        a
            display: block
            padding: $spacing-unit / 4
            border-top: 1px solid $grey-color-light
            color: $azul-2
            &:hover, &:focus, &.selected
                background-color: $grey-color-light
                text-decoration: none
            &.selected
                background-color: $azul-1
                color: #fff

.section-hero
    padding: $spacing-unit 0
    height: calc(100vh - #{$header-height})
    background:
        color: $grey-color-dark
        repeat: no-repeat
        size: cover
    +media-greater($on-palm)
        background-image: url('/img/mangueiras.jpg')
    +media-query($on-palm)
        background-image: url('/img/mangueiras-mobile.jpg')
        text-align: center
    .hero-tagline
        font: 400 #{$base-font-size * 2}/1.6 $title-font-family
        max-width: 16em
        padding: 0 5px
        span
            background-color: $laranja
            box-shadow: 0 0 0 5px $laranja
        .hero-tags
            line-height: .8
            box-shadow: none
            text-transform: lowercase
            position: relative
        .hero-tag
            display: none
            background-color: transparent
            color: #fff
            font-weight: 500
            letter-spacing: 1px
            box-shadow: none
            &.on
                display: unset

.section-search
    .lista-categorias
        padding: $spacing-unit
        +media-query($on-laptop)
            padding: $spacing-unit / 2

.section-orcamento
    .orc-produtos-title
        margin-bottom: 0
    .orc-produtos-list
        @extend %form-basis
        margin-top: 0
        height: 125px
        overflow: hidden
        overflow-y: auto
        li
            margin-bottom: 2px
            padding: 0 5px
            background-color: $grey-color-light
            border-radius: 4px

        .first-tag-item
            padding: 0
            select
                border: none
                border-radius: 4px
                background-color: $grey-color-dark
                padding: 4px 2px
                color: #fff

        .unchecked
            display: none

        .checked
            transform: translate(100%)
            opacity: 0
            animation: enter-tag .3s .3s ease-in-out forwards

        @keyframes enter-tag
            0%
                transform: translate(100%)
                opacity: 0
            100%
                transform: translate(0)
                opacity: 1

        .orc-categoria-title
            font-weight: bold
            background-color: transparent
    .orc-produtos-checkbox
        float: right
    &.js
        input.orc-produtos-checkbox
            position: fixed
            top: 0
            left: 200%
            opacity: 0
        label.orc-produtos-checkbox
            cursor: pointer
            &:hover
                color: $brand-color
            &:after
                content: '\2a09'
                line-height: 2
                padding: 0 5px

.slideshow
    height: 220px
    position: relative
    +media-query($on-palm)
        height: 600px
        .slide-figure
            display: flex
            align-items: flex-end
            width: 100%
            img
                width: 100%

.slideshow-footer
    position: relative

.slide
    position: absolute
    left: 0
    right: 0
    opacity: 0
    height: 100%
    transition: .2s ease-in-out
    .slide-figure, .slide-title, .slide-excerpt
        transition: .5s ease-in-out
    .slide-figure
        transition-delay: .3s
    .slide-title
        transition-delay: .6s
    .slide-excerpt
        transition-delay: .9s
    &.current
        z-index: 999
        opacity: 1
        transform: translate(0)
    &.prev, &.next
        opacity: 0
        transform: scale(1.5)
        .slide-figure
            opacity: 0
            transform: translate(-50%)
        .slide-title
            opacity: 0
            transform: translate(50%)
        .slide-excerpt
            opacity: 0
            transform: translate(50%)