.site-header
    border-top: 5px solid $brand-color-dark
    border-bottom: 1px solid $grey-color-light
    min-height: 56px

    // Positioning context for the mobile navigation icon
    position: relative

    a
        color: $brand-color-dark

.site-title
    float: left
    padding: 3px 0
    img
        margin-right: $spacing-unit

.site-nav
    float: right
    line-height: 56px
    overflow: hidden

    .menu-icon
        display: none

    .page-link
        padding: $spacing-unit / 4
        font:
            weight: 400
            size: 12px
        text-transform: uppercase
        line-height: $base-line-height
        letter-spacing: 1px

    +media-greater($on-palm)

        .page-link
            &:hover, &.selected
                text-decoration: none
                padding-top: 22px
                padding-bottom: 20px
                background-color: $grey-color-light

    +media-query($on-laptop)
        .page-link
            padding-left: 8px
            padding-right: 8px
    +media-query($on-palm)
        position: absolute
        top: 0
        right: $spacing-unit / 4
        text-align: right

        .menu-icon
            display: block
            float: right
            width: 60px
            height: 50px
            line-height: 0
            padding: 10px
            text-align: center

            > svg
                width: 30px
                height: 30px
                color: inherit

                path
                    fill: currentcolor

        .trigger
            clear: both
            display: none

        &:hover
            background-color: $background-color
            border-radius: 5px
            box-shadow: -25px 5px 20px -30px $grey-color
            .trigger
                display: block
                padding-bottom: 5px

        .page-link
            display: block
            padding: $spacing-unit / 4 $spacing-unit
            animation: come-in 1.5s ease-in-out forwards
            &:hover, &:focus
                text-decoration: none
                background-color: $grey-color-light
            @for $i from 1 through 9
                &:nth-of-type(#{$i})
                    animation-duration: .15s * $i

@keyframes come-in
    0%
        opacity: 0
        transform: translate(100%)
    100%
        opacity: 1
        transform: translate(0)

.site-footer
    font-size: $small-font-size
    background-color: $grey-color-dark
    color: $grey-color
    padding: $spacing-unit 0

.footer-heading
    font-size: 20px
    margin-bottom: $spacing-unit / 2
    
.footer-tel
    display: inline-block
    white-space: nowrap

.page-content
    padding-top: $spacing-unit
    padding-bottom: $spacing-unit

.post-meta
    font-size: $small-font-size
    color: $grey-color

.post-header
    margin-bottom: $spacing-unit

.post-title
    letter-spacing: -1px
    line-height: 1

    +media-query($on-laptop)
        font-size: 36px

.post-content
    margin-bottom: $spacing-unit

    >
        h1, h2, h3, h4, h5, h6, p, blockquote, pre
            @extend .wrapper
        ul
            @extend .wrapper
            +media-greater($on-laptop)
                padding-left: $spacing-unit * 1.5

.card
    padding: $spacing-unit / 4
    margin-bottom: $spacing-unit / 4
    background-color: #fff
    border-radius: 4px
    box-shadow: 0 2px 6px 0 rgba(black, .2)
    .card-pic
        width: 100%
        margin-bottom: $spacing-unit / 4
        background-color: #fff
        img
            display: block
            margin: auto

.lista-categorias
    .lista-categorias-item
        a
            display: block
            padding: $spacing-unit / 4
            border-top: 1px solid $grey-color-light
            color: $azul-2
            &:hover, &:focus, &.selected
                background-color: $grey-color-light
                text-decoration: none
            &.selected
                background-color: $azul-1
                color: #fff

.section-hero
    padding: $spacing-unit 0
    min-height: 70vmin
    background:
        color: $azul-bebe
        image: url('/img/terminais-hidraulicos-50-progressivo.jpg')
        position: center top
        repeat: no-repeat
        size: cover
    +media-query($on-palm)
        text-align: center
    .hero-logo-subtitle
        font-size: $small-font-size
        font-weight: bold
        color: $azul-2
    .hero-tagline
        font: 400 #{$base-font-size * 2}/1.2 $title-font-family
        max-width: 10em
        +media-query($on-palm)
            text-shadow: 1px 1px 0 #fff

.section-features
    margin-top: -$spacing-unit * 1.5
    .card
        padding: 0
        position: relative
        height: 100px
        overflow: hidden
        background-color: #165265
        &:not(:last-of-type)
            +media-greater($on-palm)
                margin-right: $spacing-unit / 4
            +media-greater($on-laptop)
                margin-right: $spacing-unit
    .feature-fig
        opacity: .5
        +media-query($on-palm)
            img
                position: absolute
                top: 0
                left: 0
                min-width: 100%
                transform: translateY(-50%)
    .feature-title
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        font:
            size: $base-font-size * 2
            weight: 400
        margin: 0
        a
            display: block
            padding: $spacing-unit / 2
            width: 100%
            height: 100%
            text-decoration: none
            color: #fff
            text-shadow: -1px 1px 1px rgba(black, .5)
            transition: .3s ease-in-out
            &:hover, &:active, &:focus
                background-color: rgba($brand-color, .5)

.section-aplicacoes
    overflow: hidden
    background-color: $azul-1
    color: #fff
    a
        color: $azul-2

.section-orcamento
    .orc-produtos-title
        margin-bottom: 0
    .orc-produtos-list
        @extend %form-basis
        margin-top: 0
        height: 125px
        overflow: hidden
        overflow-y: auto
        li
            margin-bottom: 2px
            padding: 0 5px
            background-color: $grey-color-light
            border-radius: 4px

        .first-tag-item
            padding: 0
            select
                border: none
                border-radius: 4px
                background-color: $grey-color-dark
                padding: 4px 2px
                color: #fff

        .unchecked
            display: none

        .checked
            transform: translate(100%)
            opacity: 0
            animation: enter-tag .3s .3s ease-in-out forwards

        @keyframes enter-tag
            0%
                transform: translate(100%)
                opacity: 0
            100%
                transform: translate(0)
                opacity: 1

        .orc-categoria-title
            font-weight: bold
            background-color: transparent
    .orc-produtos-checkbox
        float: right
    &.js
        input.orc-produtos-checkbox
            position: fixed
            top: 0
            left: 200%
            opacity: 0
        label.orc-produtos-checkbox
            cursor: pointer
            &:hover
                color: $brand-color
            &:after
                content: '\2a09'
                line-height: 2
                padding: 0 5px

.slideshow
    height: 220px
    position: relative
    +media-query($on-palm)
        height: 600px
        .slide-figure
            display: flex
            align-items: flex-end
            width: 100%
            img
                width: 100%

.slideshow-footer
    position: relative

.slide
    position: absolute
    left: 0
    right: 0
    opacity: 0
    height: 100%
    transition: .2s ease-in-out
    .slide-figure, .slide-title, .slide-excerpt
        transition: .5s ease-in-out
    .slide-figure
        transition-delay: .3s
    .slide-title
        transition-delay: .6s
    .slide-excerpt
        transition-delay: .9s
    &.current
        z-index: 999
        opacity: 1
        transform: translate(0)
    &.prev, &.next
        opacity: 0
        transform: scale(1.5)
        .slide-figure
            opacity: 0
            transform: translate(-50%)
        .slide-title
            opacity: 0
            transform: translate(50%)
        .slide-excerpt
            opacity: 0
            transform: translate(50%)