---
layout: default
---

<section class="page-content post">

  <div class="wrapper large" data-grid="spacing">
    <div class="produto" data-cell="3of4">
      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        {{ content }}
      </header>

      {% assign produtos = site.produtos | where: 'categoria', page.title %}
      {% for p in produtos %}

        <article class="card">

          <div data-grid="center spacing">

            <div data-cell="shrink">
              <img src="{{ site.baseurl }}{{ p.image }}" alt="{{ p.title }}" width="150">
            </div>

            <div data-cell="2of3">
              <h4><a href="{{ site.baseurl }}{{ p.url }}" class="post-title">{{ p.title }}</a></h4>
              <p>{{ p.content | markdownify | strip_html | strip_newlines | truncatewords: 12 }}</p>
            </div>

          </div>

          <footer data-grid="end"><a href="#orcamento" data-cell="shrink" data-btn="laranja" data-orc-value="{{ p.title }}">ADICIONAR AO ORÇAMENTO</a></footer>

        </article>

      {% endfor %}

    </div>
    {% include lista-categorias.html %}
  </div>

</section>
