---
layout: default
---
{% assign page_crumbs = page.url | split: '/' %}
<section class="page-content post">

  {% capture page_img %}{{ site.baseurl }}/img{{ page.url | append: '@§' | remove: '/@§' }}.jpg{% endcapture %}

  <div class="wrapper large" data-grid="spacing">
    <div class="produto" data-cell="3of4">
      {% for static_file in site.static_files %}
        {% if static_file.path == page_img %}
          <div data-cell="1of4">
            <img src="{{ page_img }}" alt="page.title">
          </div>
        {% endif %}
      {% endfor %}
      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        {{ content }}
      </header>

      {% for p in site.produtos %}
        {% assign p_crumbs = p.url | split: '/' %}
        {% assign p_img = '/img' | prepend: site.baseurl | append: p.url | append: '@§' | remove: '/@§' | append: '.jpg' %}
        {% if page_crumbs[2] == p_crumbs[2] and page.url != p.url %}
          <article class="card">
            <div data-grid="center spacing">
              {% for static_file in site.static_files %}
                {% if static_file.path == p_img %}
                  <div data-cell="1of3"><img src="{{ p_img }}" alt="{{ p.title }}" width="150"></div>
                {% endif %}
              {% endfor %}
              <div data-cell="2of3">
                <h4><a href="{{ site.baseurl }}{{ p.url }}" class="post-title">{{ p.title }}</a></h4>
                <p>{{ p.excerpt | truncatewords: 12 }}</p>
              </div>
            </div>
            <footer data-grid="end"><a href="" data-cell="shrink" data-btn="laranja">ADICIONAR AO ORÇAMENTO</a></footer>
          </article>
        {% endif %}
      {% endfor %}

    </div>
    {% include lista-categorias.html %}
  </div>

</section>
