---
layout: default
---

{% assign page_crumbs = page.url | split: '/' %}

<section class="page-content post">

  <div class="wrapper large" data-grid="spacing">
    <div class="produto" data-cell="3of4">
      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <p data-grid="end"><a href="#orcamento" data-cell="shrink" data-btn="laranja" data-orc-value="{{ page.title }}">ADICIONAR AO ORÇAMENTO</a></p>
      </header>

      <img src="{{ site.baseurl }}{{ page.image }}" alt="{{ page.title }}">

      {{ content }}

      <p data-grid="end"><a href="#orcamento" data-cell="shrink" data-btn="laranja" data-orc-value="{{ page.title }}">ADICIONAR AO ORÇAMENTO</a></p>

      <h3><label for="q" class="form-search-label">Procurar produtos</label></h3>
      {% include search-form.html ref = 'Detalhes do produto' %}
      
      <aside>

        <h3>Produtos relacionados</h3>
        <div data-grid="wrap">
          {% for p in site.produtos %}
            {% assign p_crumbs = p.url | split: '/' %}
            {% if page_crumbs[2] == p_crumbs[2] and page.url != p.url %}
              <div data-grid="column center justify" data-cell="1of4" class="card">
                <span class="card-pic">
                  <img src="{{ site.baseurl }}{{ p.image }}" alt="{{ p.title }}" width="150">
                </span>
                <a href="{{ site.baseurl }}{{ p.url }}" data-cell="shrink">
                  {{ p.title }}
                </a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </aside>

    </div>
    {% include lista-categorias.html %}
  </div>

</section>
