---
layout: default
---

{% assign page_crumbs = page.url | split: '/' %}

<section class="page-content post">

  <div class="wrapper large" data-grid="spacing">
    <div class="produto" data-cell="3of4">
      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <p data-grid="end"><a href="#" data-cell="shrink" data-btn="laranja">ADICIONAR AO ORÇAMENTO</a></p>
      </header>

      {% capture page_img %}{{ site.baseurl }}/img{{ page.url | append: '@§' | remove: '/@§' }}.jpg{% endcapture %}

      {% for static_file in site.static_files %}
        {% if static_file.path == page_img %}
            <img src="{{ page_img }}" alt="page.title">
        {% endif %}
      {% endfor %}

      {{ content }}

      <p data-grid="end"><a href="#" data-cell="shrink" data-btn="laranja">ADICIONAR AO ORÇAMENTO</a></p>
      
      <aside>
        <h3>Produtos relacionados</h3>
        <div data-grid="wrap">
          {% for p in site.produtos %}
            {% assign p_crumbs = p.url | split: '/' %}
            {% assign p_img = '/img' | prepend: site.baseurl | append: p.url | append: '@§' | remove: '/@§' | append: '.jpg' %}
            {% if page_crumbs[2] == p_crumbs[2] and page.url != p.url %}
              <div data-grid="column center justify" data-cell="1of4" class="card">
                {% for static_file in site.static_files %}
                  {% if static_file.path == p_img %}
                    <span class="card-pic"><img src="{{ p_img }}" alt="{{ p.title }}" width="150"></span>
                  {% endif %}
                {% endfor %}
                <a href="{{ site.baseurl }}{{ p.url }}" data-cell="shrink">
                  {{ p.title }}
                </a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </aside>

    </div>
    {% include lista-categorias.html %}
  </div>

</section>
